@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}


.chart{
  color:black
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container-dashboard {
  position: absolute;
  top: 50%;
  left: 50%;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 55%;
}


.title{
  text-align: center;
  margin: 2em 0;
  font-size: 4em;
}


.menu-ul {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center; 
  list-style-type: none;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-ul li{
  margin: 2em;
  font-size: 1.2em;
  padding: 0.5em 1em;
  background: "#eee";
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.3s;
}


.menu-ul .inactive{
  background: #2e7c67;
}

.menu-ul .inactive:hover{
  background: #141b2d;
}

.menu-ul .active{
  background: #4cceac;
}

.menu-ul .active:hover{
  background: #141b2d;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  justify-content: center;
  justify-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2.5em;
}

.article{
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  width: 25em;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  padding-bottom: 0.5em;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  position: relative;
}

.article:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.article-content{
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.article-title{
  align-items: flex-start;
  flex-grow: 1;
}

.article-source{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.article-image{
  overflow: hidden;
  margin-bottom: 0.5em;
  position: relative;
  height: 15em;
}

.article-image img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: 0.7s ease-in-out;
}

.article:hover .article-image img{
  transform: translate(-50%, -50%) scale(1.1);
}

.article-content p{
  line-height: 25px;
  color: #555;
}

.menu-icon{
  display: none;
}

@media screen and (max-width: 1400px) {
  html{
    font-size: 14px;
  }
  .news-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1220px) {
  .news-grid{
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 768px) {
  .menu-ul {
    display: none;
  }

  .menu-open{
    display: block;
    list-style-type: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: -webkit-center;
  }

  .menu-open li{
    margin: 2em;
    font-size: 1.2em;
    padding: 0.5em 1em;
    background: "#eee";
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.3s;
    width: 65%;
  }

  .menu-icon {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
  }


.menu-open .inactive{
    background: #2e7c67;
  }
  
.menu-open .inactive:hover{
    background: #141b2d;
  }
  
.menu-open .active{
    background: #4cceac;
  }

.menu-open .active:hover{
    background: #141b2d;
  }
}






